In [2]:
import pandas as pd

In [3]:

df_proyectos = pd.read_excel(
    io="/home/pablo/Proyectos/DCAyT/Streamlit/datos/Proyectos.xlsx",
    engine="openpyxl",
    skiprows=0,
    usecols="A:P",
    nrows=38,
    )

df_participa = pd.read_excel(
    io="/home/pablo/Proyectos/DCAyT/Streamlit/datos/Participa.xlsx",
    engine="openpyxl",
    skiprows=0,
    usecols="A:E",
    nrows=268,
    )

In [9]:
df_participa.head(3)

        IDproyecto       DNI           Rol  apellido    Nombre
0  PI-CAyT-03-2021  13521512      Director  Maccagno  Patricia
1  PI-CAyT-03-2021  16891255    Codirector   Alvarez   Marcela
2  PI-CAyT-03-2021  27794478  Investigador      Goñi  Verónica

In [10]:
df_proyectos.head(3)

,IDproyecto,Nombre,Tipo,Convocatoria,Año,Radicación,Línea,Sublínea,Inicio,Finalización,Disposición Aprobación,Expediente,Acta Consejo Dpto,Informe parcial,Informe final,Estado
0,PI-CAyT-03-2021,Sistematización de las actividades y proyectos...,PI,PI 2021,2021,Programa de Estudios del Ambiente,Universidad,Política universitaria,2022-02-15,2023-12-29,UNM-DCAyT 02/22,15/2022,10/21,NaN,NaN,En ejecución
1,PI-CAyT-02-2022,Identificación y caracterización de potenciale...,PI,PI 2022,2022,Programa de Estudios del Ambiente,Ambiente y Sustentabilidad,Desarrollos para la instrumentalización de pol...,2022-05-09,2024-05-08,UNM-DCAyT 02/22,239/2022,2/22,NaN,NaN,En ejecución
2,PI-CAyT-01-2023,Relevamiento y caraterización de establecimien...,PI,PI 2023,2023,Programa de Estudios del Ambiente,Ambiente y Sustentabilidad,Desarrollos para la instrumentalización de pol...,2023-04-01,2025-04-01,UNM-DCAyT 02/23,148/2023,2/23,NaN,NaN,En ejecución

In [5]:
# Fusionar los DataFrames en función de la columna 'IDProyecto'
df_fusionado = pd.merge(df_proyectos, df_participa, on="IDproyecto")

In [11]:
df_fusionado.head(3)

,IDproyecto,Nombre_x,Tipo,Convocatoria,Año,Radicación,Línea,Sublínea,Inicio,Finalización,Disposición Aprobación,Expediente,Acta Consejo Dpto,Informe parcial,Informe final,Estado,DNI,Rol,apellido,Nombre_y
0,PI-CAyT-03-2021,Sistematización de las actividades y proyectos...,PI,PI 2021,2021,Programa de Estudios del Ambiente,Universidad,Política universitaria,2022-02-15,2023-12-29,UNM-DCAyT 02/22,15/2022,10/21,NaN,NaN,En ejecución,13521512,Director,Maccagno,Patricia
1,PI-CAyT-03-2021,Sistematización de las actividades y proyectos...,PI,PI 2021,2021,Programa de Estudios del Ambiente,Universidad,Política universitaria,2022-02-15,2023-12-29,UNM-DCAyT 02/22,15/2022,10/21,NaN,NaN,En ejecución,16891255,Codirector,Alvarez,Marcela
2,PI-CAyT-03-2021,Sistematización de las actividades y proyectos...,PI,PI 2021,2021,Programa de Estudios del Ambiente,Universidad,Política universitaria,2022-02-15,2023-12-29,UNM-DCAyT 02/22,15/2022,10/21,NaN,NaN,En ejecución,27794478,Investigador,Goñi,Verónica

In [ ]:
### generar planilla de Personas a partir de planilla de PersonasInvestigacion y de DocentesGeneral

In [2]:
import pandas as pd

In [14]:

df_docentes = pd.read_excel(
    io="/home/pablo/Proyectos/DCAyT/Streamlit/generar_planilla_auxiliar/Docentes general.xlsx",
    engine="openpyxl",
    skiprows=0,
    usecols="A:O",
    nrows=322,
    )

In [15]:
df_docentes.head(5)

,Apellido,Nombre,APELLIDO Y NOMBRE,Sexo,Dirección Residencial,LATITUDE,LONGITUDE,DNI,AREA,CUAT,Fecha de Nacimiento,Edad,Título de Grado,área grado,Título Posgrado
0,ABOY,Rosa Milagros,"ABOY, Rosa Milagros",F,"Av. Gral. Las Heras 3847 (1425ATC), 8 G. CABA...",-34.581641,-58.413311,14740841,ARQ,1 CUAT,2961-11-24 00:00:00,61.000000,Arquitectura,Arquitectura,Doctorado
1,ABRUZZINI,Marina Perla,"ABRUZZINI, Marina Perla",F,"Av. Eva Perón 1311 (1406), 7 15. CABA - Argen...",-34.632078,-58.443757,14547697,LGA,ANUAL,1961-08-30 00:00:00,62.465753,Licenciatura,Ciencias Químicas,Maestría
2,ACOSTA PEREIRA,Alcides Rene,"ACOSTA PEREIRA, Alcides Rene",M,"Martínez Melo 2435, Moreno, Buenos Aires.",NaN,NaN,26670019,LBT,1 CUAT,1978-05-01 00:00:00,45.786301,Profesorado,Matemática,no posee
3,AGOSTINI,Hernán Javier,"AGOSTINI, Hernán Javier",M,"Carlos Tejedor 18 (1609). San Isidro, Buenos A...",-34.499146,-58.557646,29503676,LBT,1 CUAT,1982-05-20 00:00:00,41.731507,Veterinaria,Veterinaria,Especialización
4,AGUILAR,Cecilia,"AGUILAR, Cecilia",F,"Ruta 25 km 7,5 7 (1744) 48b7. Moreno, Buenos ...",-34.634010,-58.791382,35339557,ARQ,1 CUAT,1990-10-11 00:00:00,33.331507,Diseño,Diseño de Textil e Indumentaria,no posee

In [26]:
num_filas = len(df_docentes)

print("Número de filas:", num_filas)

Número de filas: 321

In [13]:
df_investigadores = pd.read_excel("/home/pablo/Proyectos/DCAyT/Streamlit/generar_planilla_auxiliar/PersonasInvestigacion.xlsx")

In [16]:
df_investigadores.head(5)

,DNI,Correo,Apellido,Nombre,Dependencia,Situacion,Area,Sexo,Fecha de nacimiento,Edad,Dirección Residencial,LATITUDE,LONGITUDE
0,40456555,NaN,Acosta,Eugenia Edith,DCAyT,Auxiliar estudiante,LBT,F,2001-03-20 00:00:00,NaN,"\tMonseñor A. Haefreingue1575, Moron, Buenos A...",NaN,NaN
1,36686486,NaN,Altamirano,Florencia,DCAyT,Auxiliar estudiante,ARQ,F,1992-02-07 00:00:00,NaN,"Alcalde Loza 1424, Ituzaingo, Buenos Aires",NaN,NaN
2,95361779,NaN,Alvarenga,Rogrigo,DCAyT,Auxiliar estudiante,ARQ,M,1996-04-06 00:00:00,NaN,"portugal y socrates, moreno",NaN,NaN
3,41216221,NaN,Alvarez Varela,Eugenia,DCAyT,Auxiliar estudiante,ARQ,F,1998-08-09 00:00:00,NaN,"Av. Piovano 2850, Moreno",NaN,NaN
4,25479814,NaN,Arias,Manuel Ricardo,DCAyT,Auxiliar estudiante,ARQ,M,1977-03-07 00:00:00,NaN,"Entre Rios 1482, Paso del Rey, Buenos Aires",NaN,NaN

In [25]:
num_filas = len(df_investigadores)

print("Número de filas:", num_filas)

Número de filas: 198

In [20]:
import pandas as pd

# Supongamos que estos son tus DataFrames iniciales
# df_investigadores = pd.DataFrame(...)
# df_docentes = pd.DataFrame(...)

# Paso 1: Agregar la columna "Situacion" a df_docentes
df_docentes['Situacion'] = 'Docente'

# Paso 2: Unir los DataFrames por DNI, dando prioridad a df_docentes en caso de contradicciones
df_unidos = pd.merge(df_investigadores, df_docentes, on='DNI', how='outer', suffixes=('_inv', '_doc'))

# Resolviendo contradicciones (manteniendo los valores de df_docentes)
for column in df_unidos.columns:
    if '_doc' in column:
        col_base = column.replace('_doc', '')
        df_unidos[col_base] = df_unidos[column].combine_first(df_unidos[col_base + '_inv'])
df_unidos = df_unidos.loc[:, ~df_unidos.columns.str.contains('_inv')]

# Eliminando columnas temporales relacionadas a sufijos
df_unidos = df_unidos.loc[:, ~df_unidos.columns.str.contains('_doc', case=False)]

# Paso 3: Seleccionar solo las columnas deseadas, incluyendo 'DNI'
columnas_deseadas = ['DNI', 'Apellido', 'Nombre', 'Situacion', 'Sexo', 'Area', 'LATITUDE', 'LONGITUDE', 'Título de Grado', 'Título Posgrado']
df_final = df_unidos[columnas_deseadas]

# Cambiar los valores faltantes de tipo string por "no posee"
for columna in df_final.select_dtypes(include=['object']).columns: # Selecciona solo columnas de tipo objeto (string)
    df_final[columna] = df_final[columna].fillna('no posee')

# Mostrar el DataFrame resultante
print(df_final)

          DNI        Apellido             Nombre            Situacion Sexo  \
0    40456555          Acosta      Eugenia Edith  Auxiliar estudiante    F
1    36686486      Altamirano          Florencia  Auxiliar estudiante    F
2    95361779       Alvarenga            Rogrigo  Auxiliar estudiante    M
3    41216221  Alvarez Varela            Eugenia  Auxiliar estudiante    F
4    25479814           Arias     Manuel Ricardo  Auxiliar estudiante    M
..        ...             ...                ...                  ...  ...
425  28079214     WEJCHENBERG       Darío Hernán              Docente    M
426  31276971          WILSON   Maria Florencia               Docente    F
427  26363172      WUNDHEILER        Brian Ariel              Docente    M
428  18838268         YACUZZI              Paula              Docente    F
429  38428034     ZUFRIATEGUI          Macarena               Docente    F

         Area  LATITUDE  LONGITUDE Título de Grado Título Posgrado
0         LBT       NaN        NaN        no posee        no posee
1         ARQ       NaN        NaN        no posee        no posee
2         ARQ       NaN        NaN        no posee        no posee
3         ARQ       NaN        NaN        no posee        no posee
4         ARQ       NaN        NaN        no posee        no posee
..        ...       ...        ...             ...             ...
425  no posee       NaN        NaN      Licenciado        no posee
426  no posee       NaN        NaN        no posee        no posee
427  no posee       NaN        NaN   Licenciatura       Doctorado
428  no posee       NaN        NaN    Arquitectura        Maestría
429  no posee       NaN        NaN     Profesorado        no posee

[430 rows x 10 columns]

/tmp/ipykernel_515816/766251863.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final[columna] = df_final[columna].fillna('no posee')

In [21]:
df_final.tail(5)

,DNI,Apellido,Nombre,Situacion,Sexo,Area,LATITUDE,LONGITUDE,Título de Grado,Título Posgrado
425,28079214,WEJCHENBERG,Darío Hernán,Docente,M,no posee,NaN,NaN,Licenciado,no posee
426,31276971,WILSON,Maria Florencia,Docente,F,no posee,NaN,NaN,no posee,no posee
427,26363172,WUNDHEILER,Brian Ariel,Docente,M,no posee,NaN,NaN,Licenciatura,Doctorado
428,18838268,YACUZZI,Paula,Docente,F,no posee,NaN,NaN,Arquitectura,Maestría
429,38428034,ZUFRIATEGUI,Macarena,Docente,F,no posee,NaN,NaN,Profesorado,no posee

In [24]:
num_filas = len(df_final)

print("Número de filas:", num_filas)

Número de filas: 430

In [22]:
import pandas as pd

# Supongamos que estos son tus DataFrames iniciales
# df_investigadores = pd.DataFrame(...)
# df_docentes = pd.DataFrame(...)

# Paso 1: Agregar la columna "Situacion" a df_docentes
df_docentes['Situacion'] = 'Docente'

# Paso 2: Unir los DataFrames por DNI, dando prioridad a df_docentes en caso de contradicciones
df_unidos = pd.merge(df_investigadores, df_docentes, on='DNI', how='outer', suffixes=('_inv', '_doc'))

# Resolviendo contradicciones (manteniendo los valores de df_docentes)
for column in df_unidos.columns:
    if '_doc' in column:
        col_base = column.replace('_doc', '')
        df_unidos[col_base] = df_unidos[column].combine_first(df_unidos[col_base + '_inv'])
df_unidos = df_unidos.loc[:, ~df_unidos.columns.str.contains('_inv')]

# Eliminando columnas temporales
df_unidos = df_unidos.loc[:, ~df_unidos.columns.str.contains('_doc', case=False)]

# Paso 3: Seleccionar solo las columnas deseadas, incluyendo 'DNI'
columnas_deseadas = ['DNI', 'Apellido', 'Nombre', 'Situacion', 'Sexo', 'Area', 'LATITUDE', 'LONGITUDE', 'Título de Grado', 'Título Posgrado']
df_final = df_unidos[columnas_deseadas]

# Cambiar los valores faltantes de tipo string por "no posee"
for columna in df_final.select_dtypes(include=['object']).columns:
    df_final[columna].fillna('no posee', inplace=True)

# Exportar el DataFrame final a un archivo Excel
df_final.to_excel('Personas.xlsx', index=False)

# La línea anterior guarda el DataFrame final en un archivo Excel llamado "Personas.xlsx" en el directorio actual de trabajo.

/tmp/ipykernel_515816/501167540.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final[columna].fillna('no posee', inplace=True)